:root {
  --bg-primary: hsl(210, 46%, 95%);
  --font-primary: hsl(217, 19%, 35%);
  --bg-command-plate: hsl(212, 23%, 69%);
  --bg-share-btn: hsl(214, 17%, 51%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 13px;
}
